
        <!-- Responsive navbar-->
    {% include 'head.html' %}
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Register Now!</h1>
                        <p class="fs-4">Register now and start ure productive gurney</p>
                        <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}">Login</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
      {%include 'footer.html'%}

    </body>
</html>
